doctype html
mixin item(title, url)
  li(class='list-item')
    a(href=url class=`item ${path==url ? 'active' : ""} `)=title
    //- a(href=url)=title
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      +item('Strona główna koleżko', '/')
      +item('Strona quizu', '/quiz')
      +item('Strona wiadomości', '/news')
      +item('Strona admina' ,'/admin')

    block content
